{% extends 'base.html' %}
{% block content %}
<main class="container mt-3">
<div class='col-sm-8 col-sm-offset-3'>
<h5>Forget Password</h5>
<hr />
<form method='POST' action='' enctype='multipart/form-data'>
{% csrf_token %}
<table>
{% for field in form %}
<tr>
<th>
{{field.label}} {% if field.field.required %} * {% endif %}
</th>
<td>
{{field}}
</td>
</tr>
{% endfor %}
</table><hr />
<input type='submit' value='Submit' style="background:#034f84;color:white;"/>
</form>
</div>
</main>
{% endblock %}